.Page {
  border: 3px solid chocolate;
}
.Page > * {
  padding: 10px;
  border: 3px solid #ccc;
}
.Page_Head {
  background-color: tomato;
}
.Page_Nav  {
  background-color: salmon;
}
.Page_Main {
  background-color: limegreen;
}
.Page_Foot {
  background-color: skyblue;
}

.Grid {
  border: 3px solid chocolate;
}
.Grid_Item {
  padding: 10px;
  border: 3px solid #ccc;
}
