.Grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
}.Grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.Grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}.Grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.Grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}.Grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}.Grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}.Grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.Grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}.Grid > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
