.Page {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr minmax(100px, 1fr) 2fr;
  -ms-grid-columns: 1fr 100px;
      grid-template:
    "head head" 1fr
    "nav  main" minmax(100px, 1fr)
    "foot foot" 2fr /
    1fr   100px;
}
.Page_Head { -ms-grid-row: 1; -ms-grid-column: 1; -ms-grid-column-span: 2; grid-area: head; }
.Page_Nav { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: nav; }
.Page_Main { -ms-grid-row: 2; -ms-grid-column: 2; grid-area: main; }
.Page_Foot { -ms-grid-row: 3; -ms-grid-column: 1; -ms-grid-column-span: 2; grid-area: foot; }
